<head>
<%= stylesheet_link_tag "home" %>

</head>

<body>
	<%= image_tag('i got a boy.jpg', :id => "background_image") %>
	<%= yield %>

<div id="Topbar">
	<%= link_to("Home", home_index_path, :class => "Menu_option", :id => "Menu_home") %>
		<%= link_to("Videos", home_index_path, :class => 'Dropdown_box', :id => 'Menu_videos') %>
		<%= link_to("Blog", posts_path, :class => 'Dropdown_box', :id => 'Menu_blog') %>

	<%= link_to("Log in", home_index_path, :class => 'Menu_option', :id => 'Menu_login') %>
   	
   	<%= link_to image_tag('blog_icon1.png', :id => 'img_blog'), posts_path %>   	
</div>

<div id="Sidebar">
    <h1 id="Anaglyph">Anaglyph</h1>
    <h1 id="Gradient">CSS3 Gradient</h1>
    <h1 id="Text_Gradient"><span id="Text_Gradient_span"></span>Text Gradient</h1>
</div>

<div id="Mainbar">

    <div class="Latest_posts">
    	
    </div>	
    <!--
   	<%= link_to image_tag('icon_hara.png', :class => 'Wheel_icon', :id => 'Icon_hara'), posts_path %>   	
   	<%= link_to image_tag('icon_gyuri.png', :class => 'Wheel_icon', :id => 'Icon_gyuri'), posts_path %>   	
   	<%= link_to image_tag('icon_jiyung.png', :class => 'Wheel_icon', :id => 'Icon_jiyung'), posts_path %>   	
   	<%= link_to image_tag('icon_nicole.png', :class => 'Wheel_icon', :id => 'Icon_nicole'), posts_path %>   	
   	<%= link_to image_tag('icon_seungyeon.png', :class => 'Wheel_icon', :id => 'Icon_seungyeon'), posts_path %>   	
	//-->	
</div>

<div id="Bottombar">
</div>
</body>

<footer>
<%= javascript_include_tag "home_jquery" %>
</footer>
